In [12]:
import pandas as pd

data = pd.read_csv("src\\assets\\data.csv")
data

,Rk,Team,Age,W,L,PW,PL,MOV,SOS,SRS,...,TOV%,ORB%,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1,Arena,Attend.,Attend./G
0,1,Boston Celtics,28.2,64,18,66,16,11.34,-0.60,10.75,...,10.8,24.9,0.180,0.523,10.8,76.3,0.145,TD Garden,785396,19156
1,2,Oklahoma City Thunder,23.4,57,25,58,24,7.41,-0.05,7.36,...,11.4,21.1,0.198,0.530,13.6,73.8,0.202,Paycom Center,715509,17451
2,3,Minnesota Timberwolves,27.2,56,26,57,25,6.45,-0.07,6.39,...,13.0,23.2,0.209,0.515,12.9,76.9,0.197,Target Center,720960,17584
3,4,Denver Nuggets,27.1,57,25,54,28,5.26,-0.03,5.23,...,11.5,25.5,0.170,0.526,11.2,75.6,0.195,Ball Arena,807062,19684
4,5,New York Knicks,26.4,50,32,53,29,4.59,-0.23,4.36,...,11.9,29.4,0.192,0.543,12.3,76.1,0.176,Madison Square Garden (IV),808885,19729
5,6,New Orleans Pelicans,26.0,49,33,52,30,4.41,0.05,4.46,...,11.8,24.4,0.202,0.541,12.9,76.9,0.186,Smoothie King Center,692054,17301
6,7,Los Angeles Clippers,30.4,51,31,49,33,3.28,0.13,3.41,...,12.0,24.4,0.211,0.541,11.7,74.8,0.183,Crypto.com Arena,776782,18946
7,8,Philadelphia 76ers,28.4,47,35,49,33,3.05,-0.54,2.51,...,10.7,24.8,0.218,0.537,13.1,74.3,0.215,Wells Fargo Center,821714,20042
8,9,Phoenix Suns,29.3,49,33,49,33,3.06,0.02,3.08,...,13.4,25.0,0.219,0.536,11.3,75.6,0.178,Footprint Center,699911,17071
9,10,Indiana Pacers,25.3,47,35,48,34,3.05,-0.30,2.75,...,11.3,23.8,0.173,0.556,12.1,74.1,0.228,Gainbridge Fieldhouse,677554,16526
10,11,Golden State Warriors,28.4,46,36,47,35,2.61,0.16,2.77,...,12.5,27.5,0.171,0.539,11.5,76.1,0.195,Chase Center,740624,18064
11,12,Milwaukee Bucks,30.2,49,33,47,35,2.62,-0.18,2.44,...,11.5,21.8,0.209,0.539,10.6,77.2,0.189,Fiserv Forum,740850,17659
12,13,Cleveland Cavaliers,26.2,48,34,47,35,2.41,-0.44,1.98,...,12.4,23.2,0.179,0.535,12.3,76.9,0.190,Rocket Mortgage Fieldhouse,793167,19432
13,14,Dallas Mavericks,26.5,50,32,46,36,2.21,0.09,2.30,...,11.2,22.2,0.190,0.548,12.1,75.2,0.184,American Airlines Center,828897,20217
14,15,Orlando Magic,24.0,47,35,46,36,2.02,-0.55,1.48,...,13.3,25.3,0.218,0.543,13.8,78.1,0.206,Kia Center,773939,18849
15,16,Miami Heat,28.0,46,36,46,36,1.76,-0.66,1.10,...,11.7,21.8,0.210,0.543,12.7,78.1,0.174,Kaseya Center,809743,19750
16,17,Sacramento Kings,26.4,46,36,45,37,1.74,0.55,2.29,...,11.6,24.5,0.171,0.555,12.5,78.4,0.213,Golden 1 Center,735015,17927
17,18,Houston Rockets,25.1,41,41,44,38,1.12,0.12,1.24,...,11.2,25.1,0.199,0.533,12.2,76.0,0.219,Toyota Center,720045,17562
18,19,Los Angeles Lakers,28.0,47,35,42,40,0.60,0.48,1.07,...,12.5,19.9,0.216,0.550,11.7,76.2,0.153,Crypto.com Arena,793945,18925
19,20,Chicago Bulls,28.1,39,43,37,45,-1.44,-0.33,-1.77,...,11.0,25.1,0.187,0.556,12.7,76.4,0.195,United Center,845620,20625
20,21,Atlanta Hawks,26.2,36,46,36,46,-2.18,-0.19,-2.38,...,11.6,27.1,0.200,0.572,12.4,75.2,0.192,State Farm Arena,696418,16986
21,22,Brooklyn Nets,26.1,32,50,34,48,-2.89,-0.13,-3.02,...,11.8,25.2,0.177,0.543,11.4,76.0,0.193,Barclays Center,720291,17568
22,23,Utah Jazz,25.1,31,51,29,53,-4.89,0.68,-4.22,...,13.6,28.1,0.209,0.567,10.9,75.2,0.182,Delta Center,746446,18206
23,24,San Antonio Spurs,23.0,22,60,26,56,-6.49,0.69,-5.80,...,13.2,22.9,0.172,0.555,11.7,76.4,0.174,Frost Bank Center,742522,18211
24,25,Toronto Raptors,25.9,25,57,26,56,-6.44,-0.01,-6.45,...,12.4,24.2,0.182,0.566,12.2,73.9,0.172,Scotiabank Arena,800129,19515
25,26,Memphis Grizzlies,24.4,27,55,24,58,-7.00,0.43,-6.57,...,13.4,23.8,0.182,0.551,13.5,74.8,0.195,FedEx Forum,681875,16631
26,27,Detroit Pistons,23.8,14,68,20,62,-9.11,0.05,-9.06,...,13.5,23.9,0.193,0.558,11.1,77.3,0.221,Little Caesars Arena,726378,18159
27,28,Washington Wizards,24.9,15,67,20,62,-9.29,0.00,-9.29,...,12.2,20.0,0.169,0.562,12.0,72.5,0.201,Capital One Arena,692851,16899
28,29,Portland Trail Blazers,24.1,21,61,20,62,-9.02,0.74,-8.29,...,13.4,27.5,0.181,0.558,12.8,74.0,0.216,Moda Center,751395,18327
29,30,Charlotte Hornets,25.1,21,61,18,64,-10.24,0.13,-10.12,...,12.6,21.1,0.167,0.572,12.3,74.5,0.188,Spectrum Center,674400,16449

In [14]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

df = pd.DataFrame(mydataset)
df

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [16]:
df["cars"] # df.cars

0      BMW
1    Volvo
2     Ford
Name: cars, dtype: object

In [18]:
df[['cars','passings']]

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [15]:
df.loc[0]

cars        BMW
passings      3
Name: 0, dtype: object

In [17]:
df.loc[[0, 1]]

    cars  passings
0    BMW         3
1  Volvo         7